<% content_for :title, "Editing tweet" %>


<%= render "form", tweet: @tweet %>

<br>

<div>
  <%= button_to "Add another tweet", publisher_tweets_path(@tweet.publisher), params: {tweet: {publisher_id: @tweet.publisher, thread_id: @tweet.thread}}, method: :post %>
  
</div>
