<% if notice %>
  <p style="color: green"><%= notice %></p>
<% end %>

<% content_for :title, "Tweets" %>
<section>

  
  <div id="tweets">
    <% @tweets.each do |tweet| %>
      <%= render tweet %>
      <p>
        <%= link_to "Show this tweet", tweet %>
      </p>
    <% end %>
  </div>
</section>


