<p style="color: green"><%= notice %></p>

<%= render @tweet %>

<div>
  <%= link_to "Edit this tweet", edit_tweet_path(@tweet) %> |

  <%= button_to "Destroy this tweet", @tweet, method: :delete %>
</div>
