<%= turbo_stream.replace @tweet do %>
  <div class="top-border bottom-space-point-5">
    <%= render partial: "tweet", locals: { tweet: @tweet } %>
    <div>
      <%= link_to "Edit", edit_tweet_path(@tweet) %>
    </div>        
  </div>
  
<% end %>